@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Rubik+Vinyl&display=swap');

body{
    animation: body ease 2.5s;
}
@keyframes body {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* header/navbar atas */

header{
    margin-top: -1.5rem;
    width: 100%;
    margin-bottom: 2rem;
    background-color: #3CADA2;
}
header a{
    margin-left: 1rem;
    margin-top: 3px;
    
}
.bi-justify{color: white;}

#nav-content{
    margin: 0px;    
}
#nav-tittle{
    color: #fff;
    font-family: 'Rubik Vinyl', cursive;
    font-size: 28px;
    /* margin-top: 10px; */
}

/* main */
#main{
    padding-top: 0;
    padding: 0px;
}
#tittle{
    padding: 0;
    font-size: 2rem;
}
#emptydata-info{
    font-size: 1rem;
    margin-top: 2%;
    margin-left: 2%;
    color: rgb(169, 0, 0); 
}
.card-header{
    padding-bottom: 0px;
}
/* button */
#btn-status{
    font-size: 12px;
    padding: 3px 7px;
}
#btn-reset-zoom{background-color: rgb(197, 197, 197); color:white}
#btn-reset-zoom:hover{background-color: grey; color: white;}
#btn-reset-rev{background-color: rgb(197, 197, 197); border: none; color:white}
#btn-reset-rev:hover{background-color: grey; color: white;}
#btn-cari{padding-right: 15px;}
#btn-cari  i{
    color: white;
    margin-right: 5px;
}
#btn-add-sewazoom{
    background-color: #3CADA2;
    border: none;
    width: 6.2rem;
    font-size: 14px;
    height: 2rem;
    margin-top: 5px;
}
#btn-status{
    background-color: rgb(77, 77, 169);
    border: none;
}
#btn-add-sewazoom i{color: white;}
#btn-add-inventaris{
    background-color: #3CADA2;
    border: none;
    width: 7rem;
    margin-top: 5px;
}
#btn-add-aksesinternet{
    background-color: #3CADA2;
    border: none;
    width: 7rem;
    margin-top: 5px;
}
#btn-add-revisidata{
    background-color: #3CADA2;
    border: none;
    width: 6.2rem;
    font-size: 14px;
    height: 2rem;
    margin-top: 5px;
}
#btn-add-revisidata i{color: white;}
#btn-add-aksesprogram{
    background-color: #3CADA2;
    border: none;
    width: 7rem;
    font-size: 12px;
    height: 1.8rem;
    margin-top: 5px;
}
#btn-add-pengembalian{
    padding: 2px 5px;
    font-size: 12px;
}
#btn-add-sewazoom:hover{
    background-color: black;
}
#btn-add-inventaris:hover{
    background-color: black;
}
#btn-add-aksesinternet:hover{
    background-color: black;
}
#btn-add-revisidata:hover{
    background-color: black;
}
#btn-add-aksesprogram:hover{
    background-color: black;
}
#btn-view > i{
    color: black; 
}
#btn-view-aksesprogram > i{
    color: black; 
}
#btn-kembalikan > i{
    color: white; 
    font-size: 15px;
}
#btn-edit > i{
    color: white;
    font-size: 17px;   
}
#btn-update-revisidata > i{
    color: white;
    font-size: 17px;   
}   
#btn-update-aksesinternet > i{
    color: white;
    font-size: 17px;   
}
#btn-update-inventaris > i{
    color: white;
    font-size: 17px;   
}
#btn-update-aksesprogram > i{
    color: white;
    font-size: 17px;   
}
#btn-delete > i{
    color: white;
    font-size: 15px;
}
#btn-delete-inventaris > i{
    color: white;
    font-size: 15px;
}
#btn-delete-revisidata > i{
    color: white;
    font-size: 15px;
}
#btn-delete-aksesinternet > i{
    color: white;
    font-size: 15px;
}
#btn-delete-aksesprogram > i{
    color: white;
    font-size: 15px;
}
#btn-approve > i{
    color: green;
    font-size: 17px;
}
#btn-accept-rev > i{
    color: green;
    font-size: 17px;
}
#btn-accept-inventaris > i{
    color: white;
    font-size: 17px;
}
#btn-accept-aksesprogram > i{
    color: white;
    font-size: 17px;
}
#btn-accept-internet > i{
    color: white;
    font-size: 17px;
}
#btn-decline > i{
    color: red;
    font-size: 15px;
}
#btn-decline-rev > i{
    color: red;
    font-size: 15px;
}
#btn-decline-internet > i{
    color: white;
    font-size: 15px;
}
#btn-decline-inventaris > i{
    color: white;
    font-size: 15px;
}
#btn-decline-aksesprogram > i{
    color: white;
    font-size: 15px;
}
.bi-slash-circle{
    color: white;
    font-size: 14px;
}

#btn-cancel i{
    font-size: 16px;
    color: rgb(198, 3, 3);
}
#btn-cancel-rev i{
    font-size: 16px;
    color: rgb(198, 3, 3);
}
#btn-end i{
    font-size: 16px;
    color: grey;
}
#btn-end-rev i{
    font-size: 16px;
    color: grey;
}
.btn-primary{
    background-color: #3CADA2;
    border: none;
}
#btn-tambah{
    font-size: 12px;
    font-weight: 600    ;
    color: black;
    background-color: #ffc629;
}
#btn-tambah:hover{
    color: rgb(255, 255, 255);
    background-color: #494844;
}

/* h2{
    width: 55%;
    margin-left: 4%;
    font-size: 1rem;
} */

/* modal */
#exampleModal h1{
    margin-top: .5rem;
}

/* table */
#table-head{
    margin: auto;
    width: 95%;
}
.container{
    margin-bottom: 1rem;
}

.table{
    width: 98%;
    margin: auto;
}

#tb-tittle{
    font-size: 1.5rem;
}
#tb-date{
    font-size: 1rem;
}
th, td{
    font-size: 12px;

}

/* footer */

.footer{
    padding: 1.5rem;
}

.bi-x-circle-fill{
    margin-top: .6rem;
    padding-left: .6rem;
    padding-right: 1rem;
}
.bi-x-circle-fill:hover{
    color: red;
}


@media screen and (max-width : 500px) {
    header{
        padding-bottom: 0px;
        padding: .5rem;
        text-align: center;
    }
    header a{
        margin-left: 0px;
    }
    /* .col-11, .col-1{
        margin-top: -10px;
    } */
    .col-1{
        margin-top: -5px;
    }
    #nav-tittle{
        font-size: 18px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    #btn-add-sewazoom{
        width: 4.5rem;
        font-size: .5rem;
        padding: none;
    }
    #btn-hariini{
        width: 4.5rem;
        font-size: .5rem;
        padding: none;
    }
    #btn-semua{
        width: 4.5rem;
        font-size: .5rem;
        padding: none;
    }
    #btn-inventaris{
        width: 3.5rem;
        padding: .2rem;
        font-size: 0.7rem; 
    }
    #btn-aksesprogram{
        width: 3.5rem;
        padding: .2rem;
        font-size: 0.7rem; 
    }
    #btn-aksesinternet{
        width: 3.5rem;
        padding: .2rem;
        font-size: 0.7rem; 
    }
    #btn-revisidata{
        width: 4rem;
        padding: .2rem;
        font-size: 0.6rem; 
    }
    #btn-detail{
        width: 3rem;
        padding: .2rem;
        font-size: 0.5rem; 
    }
    #btn-pengembalian{
        font-size: 10px;
    }
    th, td{
        font-size: 10px;
    }
    .btn-danger{
        font-size: 10px;
        padding: .2rem;
    }
    #tb-tittle{
        font-size: 1rem;
    }
    #tb-date{
        font-size: 0.7rem;
    }
    #tittle{
        font-size: 1rem;
        margin-top: .3rem;
        margin-left: 0px;
    }
    .modal-content{margin: auto;}
}
@media screen and (min-width: 1024px) {
    .modal-content{width: 700px;}
    
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}

/* filter tabel sewazoom */
#table-sewazoom-admin_length label{
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 1rem;
    display: none;
}

#table-sewazoom-admin_filter label{
    margin-right: 5%;
    margin-top: 5%;
    padding-bottom: 1rem;
    display: none;
}
#table-sewazoom-admin_info{
    padding: 3%;
}
#table-sewazoom-admin_paginate{
    padding: 3%;
    padding-top: 1%;
}
#table-sewazoom-user_length label{
    margin-left: 5%;
    padding-bottom: 1rem;
    margin-top: 5%;
    display: none;
}

#table-sewazoom-user_filter label{
    margin-right: 5%;
    padding-bottom: 1rem;
    margin-top: 5%;
    display: none;
}
#table-sewazoom-user_info{
    padding: 3%;
}
#table-sewazoom-user_paginate{
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
}

/* filter tabel revisidata */
#table-revisidata_length label{
    margin-left: 5%;
    margin-top: 5%;
    padding-bottom: 1rem;
    display: none;
}

#table-revisidata_filter label{
    margin-right: 5%;
    margin-top: 5%;
    padding-bottom: 1rem;
    display: none;
}
#table-revisidata_info{
    padding: 3%;
}
#table-revisidata_paginate{
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
}


/* filter tabel akses internet */
#table-aksesinternet_length label{
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 1rem;
}

#table-aksesinternet_filter label{
    margin-right: 5%;
    margin-top: 3%;
    padding-bottom: 1rem;
}
#table-aksesinternet_info{
    padding: 3%;
}
#table-aksesinternet_paginate{
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
}

/* filter tabel inventaris */
#table-inventaris_length label{
    margin-left: 5%;
    padding-bottom: 1rem;
}

#table-inventaris_filter label{
    margin-right: 5%;
    padding-bottom: 1rem;
}
#table-inventaris_info{
    padding: 3%;
}
#table-inventaris_paginate{
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
}

/* filter tabel aksesprogram */
#table-aksesprogram_length label{
    margin-left: 5%;
    margin-top: 3%;
    padding-bottom: 1rem;
}

#table-aksesprogram_filter label{
    margin-right: 5%;
    margin-top: 3%;
    padding-bottom: 1rem;
}
#table-aksesprogram_info{
    padding: 3%;
}
#table-aksesprogram_paginate{
    padding: 3%;
    padding-top: 1%;
    font-size: 12px;
}

